[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/develop/suggest-back-end/env/bin/uwsgi -i /home/ubuntu/develop/suggest-back-end/suggest_career/.config/uwsgi/suggest.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target